<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
<!--meta http-equiv="refresh" content="10"-->
<title>Graphs from CSVs</title>

		<!-- Load c3.css -->
		<link href="/static/c3.css" rel="stylesheet" type="text/css">

		<!-- Load d3.js and c3.js -->
		<script src="/static/d3.v3.min.js" charset="utf-8"></script>
		<script src="/static/c3.min.js"></script>
		
		<!-- Load papaparse -->
		<script src="/static/papaparse.min.js"></script>
</head>
<body>
<h1> J1H Data Acquisition Software - Module 9 - Overview</h1>
  		<br><br><br>
    	<div class="container">
    		<div id="chart"></div>
    	</div>
	
	<script src="static/creategraph.js"></script>
		

<div class ="subtle">
<h2 style = "color:#AAAAAA;">Data</h2>
<h3>Last updated at: {{var0}}</h3>
<h3 style="float:right;"> Software version 0.3. Any issues, contact David Godden x6770</h3>
</div>
</body>
</html>
