<html>
<head>
<link rel="stylesheet" href='/static/styles.css' />
<meta http-equiv="refresh" content="10">
</head>
<body>
<h1> J1H Data Acquisition Software - Module 9 - Overview</h1>
<hr>
<div class="left">
<h1 style = "text-align: left">ODPS</h1>
<h2 style = "color:#AAAAAA">Temperatures</h2>
<h2>Cubicle 3: {{ntc2temp}}'C</h2>
</div>
<div class="left">
<h1 style = "text-align: left">Protection Cabinet</h1>
<h2 style = "color:#AAAAAA">Temperatures</h2>
<h2>Ground Level: {{ntc1temp}}'C</h2>
</div>
<div class="left">
<h1 style = "text-align: left">RPi</h1>
<h2 style = "color:#AAAAAA">Temperatures</h2>
<h2>Enclosure: {{ntc0temp}}'C</h2>
<h2>CPU: {{cputemp}}'C</h2>
</div>
<canvas id="myChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
            label: "My First dataset",
            borderColor: 'rgb(0, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
        }]
    },

    // Configuration options go here
    options: {}
});
</script>

<div class ="subtle">
<h2 style = "color:#AAAAAA;">Data</h2>
<h3>Last updated at: {{var0}}</h3>
<h3 style="float:right;"> Software version 0.2. Any issues, contact David Godden x6770</h3>
</div>
</body>
</html>
