<html>
<head>
<link rel='stylesheet' href='static/style.css' />
<link rel='stylesheet' href='static/bootstrap.min.css' />
<link rel='stylesheet' href='static/font-awesome.min.css' />
<!--meta http-equiv="refresh" content="10"-->
<title>Module 9</title>		
<!-- Load c3.css -->
<link href="/static/c3.css" rel="stylesheet" type="text/css">
<!-- Load d3.js and c3.js -->
<script src="/static/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/c3.min.js"></script>
<!-- Load papaparse -->
<script src="/static/papaparse.min.js"></script>
</head>

<body>
<div class="page-wrap">
<h1> Module 9 - Temperature Overview</h1>
<br>
<h2>Trend for {{day}}-{{month}}-{{year}}</h2>
<br>
	<div id="Chart"></div>
	<script src="static/creategraph.js"></script>
	</div>
	
	<br>
	
	<div id="Data"></div>
	<h2>Realtime Data</h2>
	<h3>RPi CPU: {{cputemp}}'C</h3>
	<h3>RPi Enclosure: {{ntc0temp}}'C</h3>
	<h3>Temp 1: {{ntc1temp}}'C</h3>
	<h3>Temp 2: {{ntc2temp}}'C</h3>
	<h3>Temp 3: {{ntc3temp}}'C</h3>
	</div>
</div>
	
<footer class="site-footer">
  <h6 align="right"> Software version 0.3. Any issues, contact David Godden x6770 </h3>
</footer

</body>
</html>
